---
interface Props {
  href?: string;
  kidHome?: boolean;
}

const { href = '/profiles/', kidHome = false } = Astro.props;
---

<a class="brand-mark" href={href} aria-label="Buddy Blocks home" data-kid-home-link={kidHome ? 'true' : undefined}>
  <img class="brand-icon" src="/icons/moxie.svg" alt="" width="220" height="220" aria-hidden="true" />
  <span>Buddy Blocks</span>
</a>
